# .gitignore

# Ignore Python build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Ignore virtual environments
venv/

# Ignore test output/input
test/html/
test/md/

# Ignore distribution packages
dist/
build/
*.egg-info/
