<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
    <link href = "css/styles.css" type = "text/css" rel = "stylesheet">
</head>
<body>
    <div id = "wrapper">
        <header>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="tags/index.html">All Tags</a></li>
                    <li><a href="posts/index.html">All Posts</a></li>
                </ul>
            </nav>
        </header>
        <h1>My Site</h1>
        {% for post in posts %}
        <div id = "post_card">
            <h2><a href="{{ post.file }}">{{ post.title }}</a></h2>
            <p>{{ post.date }}</p>
            <p>{{ post.tldr }}</p>
        </div>
        {% endfor %}
        </p>
        <h2>Tags</h2>
        {% for tag in tags_dict %}
        <a href="tags/{{ tag }}.html">{{ tag }}</a>
        {% endfor %}
    </div>
</body>
</html>
