<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link href = "../css/styles.css" type = "text/css" rel = "stylesheet">
</head>
<body>
    <div id = "wrapper">
        <header>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../tags/index.html">All Tags</a></li>
                    <li><a href="index.html">All Posts</a></li>
                </ul>
            </nav>
        </header>
        <h1>{{ title }}</h1>
        {{ content }}
        <a href = "../index.html">home</a>
    </div>
</body>
</html>
